
/** @type {import('tailwindcss').Config} */
module.exports = {
  theme: {
    // screens: {
    //   sm: '480px',
    //   md: '768px',
    //   lg: '976px',
    //   xl: '1440px',
    // },
    colors: {
      'deeBblue': '#000315',
      'blue': '#2869d2',
      'white': '#ffffff',
      'orange': '#fd6d0d',
      'hoverrBlue': '#e66e1c',
      'purple1': '#2c2c68',

      'burntOrange': '#CC5500',
    },
    
  }
}